* {
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: pink; 
    height:100vh;
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body::-webkit-scrollbar {
    height: 100vh;
    width: 100vw;
    overflow-y: none;
    overflow-x: none;
    display: none;
}

#container {
    width: 100%;
    margin: 35px auto;
    display: flex;

}

.feelings-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-block: 30px;;
}

.card-title {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    text-align:center;
}

.new-feelings-line {
    display: flex;
    justify-content: space-evenly;
    Text-align: center;
    margin-bottom: 36px;
    font-size: 30px;
    
}

#venting {
    resize: none;
    border: 2px solid;
    top: 50%;
    left: 50%;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 16px;
}

#vent-input-container {
    display: flex;
    align-items: center;
    text-align:center;
}

#new-feelings{
    padding: 10px 0 0 20px;
    width: 33%;
    height: 100vh;
    overflow-y: scroll;
}

.new-feeling-card{
    border-left: 13px solid transparent;
    display: flex;
    padding-bottom: 31px;
    border-bottom: 1px solid black;
    border-right: 101px solid transparent;
    margin-top: 28px;
}


.card-emoji {
    font-size: 50px;
}

.card-comment {
    padding-left: 10px;
    padding-top: 14px;
}

/* width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
} */

#vent-speech-bubble {
    position: relative;
    text-align:center;
}

.error-message{
    color: red;
    font-size: 24px;
    text-align: center;
    padding-right: 20px;
}

/* #vent-speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -23px;
}

#vent-speech-bubble:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -17px;
    } */